:root {
  --background: #0d1117;
  --background-muted: #151b23;
  --background-error: #410000;
  --url-input-background: #010409;
  --shadow: #000;

  --text-primary: #ccc;
  --text-linkable: #58a6ff;
  --text-muted: #999;
  --text-super-muted: #666;
  --text-muted-emphasis: #999;
  --text-error: #f67f7f;

  --stroke-primary: #cfd3d3;
  --stroke-emphasis: #58a6ff;

  --edit-text-base-size: 42px;

  --links-text-base-size: 24px;
}

body {
  background: var(--background);
  color: var(--text-primary);

  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
