.bar {
  width: 652px;
  margin: 0 auto;
  position: relative;
}

.url {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 600px;
  padding: 25px;
  color: var(--text-primary);
  border-radius: 4px;
  border: 1px solid var(--stroke-primary);
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--url-input-background);

  &:focus {
    border: 1px solid var(--stroke-emphasis);
  }

  &::placeholder {
    color: var(--text-super-muted);
  }
}

.clear-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);

  > span {
    font-size: 38px;
  }

  &.visible {
    opacity: 0.6;
    pointer-events: inherit;
  }

  &:hover {
    opacity: 1;
    color: #b71111;
  }
}
